body {
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.admin-logo {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0px;
}
.admin-login {
  background: #020617;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.admin-login h2 {
  margin-bottom: 8px;
}

.admin-login p {
  font-size: 13px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.admin-login input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.admin-login button {
  width: 100%;
  padding: 12px;
  background: #facc15;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

#errorMsg {
  color: #f87171;
  font-size: 13px;
  margin-top: 10px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  padding-right: 0px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

.toggle-password {
  position: absolute;
  right: 0px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #000000;
  cursor: pointer;
  user-select: none;
}

#loginBtn {
  width: 100%;
  padding: 14px;
  background: #facc15;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

#loginBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn-loader {
  display: none;
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.preview-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #64748b;
  color: #e5e7eb;
  cursor: pointer;
}

.preview-btn:hover {
  background: rgba(255,255,255,0.05);
}
